body {
	
	/*opacity: 0.2;
	filter: alpha(opacity=20);*/
}
.a {
	opacity: 0.5;
    margin: 30px;
    background-image: url(../images/bgimg1.png);
    border: 1px solid black;
    filter: alpha(opacity=50);  

}
.b {
	margin: 30px;
	color: black;
	font-weight: bolder;
	/* opacity: 0.6;
  filter: alpha(opacity=60);*/
}



div.b p {
  margin: 5%;
  font-weight: bold;
  color: white;
  font-size: 28px;
  text-align: center;
}
.btn {
	height: 50px;
	width: 50px;
}